.Goal-Edit-Container{
}

.Goal-Edit-Wrapper{
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Goal-Edit-Form-Wrapper{
    width: 70%;
    height: 70%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: #503b00;
    box-shadow: 2px 2px 10px black;
}

.Goal-Edit-Title-Wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #9b7200;
    height: 15%;
}

.Goal-Edit-Progress-Wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #815f00;
    height: 30%;
}

.Goal-Edit-Description-Wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #6e5100;
    height: 45%;
}

.Goal-Edit-Title-Label{
    font-size: 30px;
}

.Goal-Edit-Progress-Label{
    font-size: 30px;
}

.Goal-Edit-Description-Label{
    font-size: 30px;
    margin-bottom: 10px;
}

.Goal-Edit-Title-Input{
    height: 30px;
    width: 300px;
    border: none;
    background: #ac8e3b;
    box-shadow: 2px 2px 10px black;
}

.Goal-Edit-Progress-Input{
    height: 30px;
    width: 300px;
}

.Goal-Edit-Description-TextArea{
    height: 70%;
    width: 80%;
    border: none;
    box-shadow: 2px 2px 10px black;
    padding: 10px;
    font-size: 20px;
    background: #ac8e3b;
}

.Goal-Edit-Radio-Wrapper{
    display: flex;
    flex-direction: column;
}

.Goal-Edit-Not-Started-Radio-Wrapper{
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.Goal-Edit-In-Progress-Radio-Wrapper{
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.Goal-Edit-Complete-Radio-Wrapper{
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.Goal-Edit-Not-Started-Radio{
   height: 20px;
   width: 20px;
}

.Goal-Edit-In-Progress-Radio{
   height: 20px;
   width: 20px;
}

.Goal-Edit-Complete-Radio{
   height: 20px;
   width: 20px;
}

.Goal-Edit-Not-Started-Label{
    color: #ff0000;
    font-size: 20px;
}

.Goal-Edit-In-Progress-Label{
    color: #fbff00;
    font-size: 20px;
}

.Goal-Edit-Complete-Label{
    color: #2bff00;
    font-size: 20px;
}

.Goal-Edit-Submit-Wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
    background: #574000;
}

.Goal-Edit-Submit-Button{
    width: 125px;
    height: 40px;
    border: none;
    box-shadow: 2px 2px 10px black;
    background: #ad7f00;
    transition-duration: .5s;
}

.Goal-Edit-Submit-Button:hover{
    background: #ffbb00;
}

@media(max-width: 770px){

    .Goal-Edit-Title-Wrapper{
        justify-content: center;
        padding: 5px;
    }
    
    .Goal-Edit-Progress-Wrapper{
        justify-content: center;
        padding: 5px;
    }

    .Goal-Edit-Description-Wrapper{
        align-items: center;
        padding: 5px;
    }

    .Goal-Edit-Title{
        margin-left: 0px;
    }
    
    .Goal-Edit-Progress{
        margin-left: 0px;
    }
    
    .Goal-Edit-Description{
        margin-left: 0px;
    }

    .Goal-Edit-Title-Input{
        width: 80%;
    }

}

@media(max-width: 425px){

    .Goal-Edit-Title-Label{
        font-size: 20px;
    }
    
    .Goal-Edit-Progress-Label{
        font-size: 20px;
    }
    
    .Goal-Edit-Description-Label{
        font-size: 20px;
    }

    .Goal-Edit-Not-Started-Label{
        color: #ff0000;
        font-size: 20px;
    }
    
    .Goal-Edit-In-Progress-Label{
        color: #fbff00;
        font-size: 20px;
    }
    
    .Goal-Edit-Complete-Label{
        color: #2bff00;
        font-size: 20px;
    }

}

@media(max-height: 750px){
    /*.Goal-Edit-Title-Label{
        font-size: 20px;
    }
    
    .Goal-Edit-Progress-Label{
        font-size: 20px;
    }
    
    .Goal-Edit-Description-Label{
        font-size: 20px;
    }

    .Goal-Edit-Not-Started-Radio{
        height: 15px;
        width: 15px;
     }
     
     .Goal-Edit-In-Progress-Radio{
        height: 15px;
        width: 15px;
     }
     
     .Goal-Edit-Complete-Radio{
        height: 15px;
        width: 15px;
     }

    .Goal-Edit-Not-Started-Label{
        color: #ff0000;
        font-size: 18px;
    }
    
    .Goal-Edit-In-Progress-Label{
        color: #fbff00;
        font-size: 18px;
    }
    
    .Goal-Edit-Complete-Label{
        color: #2bff00;
        font-size: 18px;
    }

    .Goal-Edit-Form-Wrapper{
        width: 70%;
        height: 80%;
    }*/
}

@media(max-height: 550px){
    /*.Goal-Edit-Title-Label{
        font-size: 15px;
    }
    
    .Goal-Edit-Progress-Label{
        font-size: 15px;
    }
    
    .Goal-Edit-Description-Label{
        font-size: 15px;
    }

    .Goal-Edit-Not-Started-Radio{
        height: 10px;
        width: 10px;
     }
     
     .Goal-Edit-In-Progress-Radio{
        height: 10px;
        width: 10px;
     }
     
     .Goal-Edit-Complete-Radio{
        height: 10px;
        width: 10px;
     }

    .Goal-Edit-Not-Started-Label{
        color: #ff0000;
        font-size: 15px;
    }
    
    .Goal-Edit-In-Progress-Label{
        color: #fbff00;
        font-size: 15px;
    }
    
    .Goal-Edit-Complete-Label{
        color: #2bff00;
        font-size: 15px;
    }

    .Goal-Edit-Form-Wrapper{
        width: 70%;
        height: 90%;
    }*/
}
