.ScheduleWeek-Row-Wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: #b98800;
}

.ScheduleWeek-Content-Wrapper{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ScheduleWeek-Row-Content-Wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ScheduleWeek-Day{
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px black;
    border-style: solid;
    background: #b98800;
    /*border: 1px black;
    border-style: solid;*/
}

.ScheduleWeek-Type{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*border: 1px black;
    border-style: solid;*/
}

.ScheduleWeek-THR{
    height: 100%;
    width: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*border: 1px black;
    border-style: solid;*/
}

.ScheduleWeek-Max{
    height: 100%;
    width: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*border: 1px black;
    border-style: solid;*/
}

.ScheduleWeek-Sets{
    height: 100%;
    width: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*border: 1px black;
    border-style: solid;*/
}

.ScheduleWeek-Reps{
    height: 100%;
    width: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*border: 1px black;
    border-style: solid;*/
}

.ScheduleWeek-Weight{
    height: 100%;
    width: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*border: 1px black;
    border-style: solid;*/
}

.ScheduleWeek-TimeOn{
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*border: 1px black;
    border-style: solid;*/
}

.ScheduleWeek-TimeOff{
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*border: 1px black;
    border-style: solid;*/
}

.ScheduleWeek-Frequency{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*border: 1px black;
    border-style: solid;*/
}

.ScheduleWeek-Day-Content{
    font-size: 13px;
}

/*.ScheduleWeek-Type-Content{
    font-size: 20px;
}

.ScheduleWeek-THR-Content{
    font-size: 20px;
}

.ScheduleWeek-Max-Content{
    font-size: 20px;
}

.ScheduleWeek-Sets-Content{
    font-size: 20px;
}

.ScheduleWeek-Reps-Content{
    font-size: 20px;
}

.ScheduleWeek-Weight-Content{
    font-size: 20px;
}

.ScheduleWeek-TimeOn-Content{
    font-size: 20px;
}

.ScheduleWeek-TimeOff-Content{
    font-size: 20px;
}

.ScheduleWeek-Frequency-Content{
    font-size: 20px;
}   */
