.ScheduleWeek-Row-Content-Wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50%;
    background: #c99300;
    /*border: 1px black;
    border-style: solid;*/
}

.ScheduleWeek-Type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.ScheduleWeek-THR{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.ScheduleWeek-Max{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5%;
}

.ScheduleWeek-Sets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5%;
}

.ScheduleWeek-Reps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5%;
}

.ScheduleWeek-Weight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ScheduleWeek-TimeOn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
}

.ScheduleWeek-TimeOff{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
}

.ScheduleWeek-Frequency{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18%;
}

.ScheduleWeek-Type-Content{
    font-size: 13px;
    text-align: center;
}

.ScheduleWeek-THR-Content{
    font-size: 13px;
    text-align: center;
}

.ScheduleWeek-Max-Content{
    font-size: 13px;
    text-align: center;
}

.ScheduleWeek-Sets-Content{
    font-size: 13px;
    text-align: center;
}

.ScheduleWeek-Reps-Content{
    font-size: 13px;
    text-align: center;
}

.ScheduleWeek-Weight-Content{
    font-size: 13px;
    text-align: center;
}

.ScheduleWeek-TimeOn-Content{
    font-size: 13px;
    text-align: center;
}

.ScheduleWeek-TimeOff-Content{
    font-size: 13px;
    text-align: center;
}

.ScheduleWeek-Frequency-Content{
    font-size: 13px;
    text-align: center;
}

@media(max-width: 767px){
    .ScheduleWeek-Type-Content{
        font-size: 10px;
        text-align: center;
    }
    
    .ScheduleWeek-THR-Content{
        font-size: 10px;
        text-align: center;
    }
    
    .ScheduleWeek-Max-Content{
        font-size: 10px;
        text-align: center;
    }
    
    .ScheduleWeek-Sets-Content{
        font-size: 10px;
        text-align: center;
    }
    
    .ScheduleWeek-Reps-Content{
        font-size: 10px;
        text-align: center;
    }
    
    .ScheduleWeek-Weight-Content{
        font-size: 10px;
        text-align: center;
    }
    
    .ScheduleWeek-TimeOn-Content{
        font-size: 10px;
        text-align: center;
    }
    
    .ScheduleWeek-TimeOff-Content{
        font-size: 10px;
        text-align: center;
    }
    
    .ScheduleWeek-Frequency-Content{
        font-size: 10px;
        text-align: center;
    }
}

@media(max-width: 550px){
    .ScheduleWeek-Type{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20%;
    }
    
    .ScheduleWeek-THR{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 10%;
    }
    
    .ScheduleWeek-Max{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 12%;
    }
    
    .ScheduleWeek-Sets{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 10%;
    }
    
    .ScheduleWeek-Reps{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 10%;
    }
    
    .ScheduleWeek-Weight{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 10%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .ScheduleWeek-TimeOn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 15%;
    }
    
    .ScheduleWeek-TimeOff{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 15%;
    }
    
    .ScheduleWeek-Frequency{
        display: none;
    }      

}