.Category-componentContainer{
    display: grid;
    grid-template-areas: 
    'header'
    'buttons';
}

.Category-componentWrapper{
    position: absolute;
    top: 100px;
    bottom: 120px;
    left: 0;
    right: 0;
    grid-area: buttons;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 50px;
}

.Category-componentWrapper::-webkit-scrollbar {
    width: 15px;
    background-color: #F5F5F5;
    border-radius: 10px;
  } 

  .Category-componentWrapper::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 10px;
}
  
.Category-componentWrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.Category-Tile-Wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
    height: 350px;
    margin-bottom: 50px;
}

.Fit4Life-Category-SearchbarWrapper{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Fit4Life-Category-SearchElements-Wrapper{
    height: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Fit4Life-Category-Searchbar{
    width: 200px;
    height: 30px;
    margin-bottom: 15px;
}

.Fit4Life-Category-SearchButton{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 15px;
    background: #ac8e3b;
    transition-duration: 0.5s;
}

.Fit4Life-Category-SearchButton:hover{
    background: #dfb84c;
}

.Fit4Life-Category-AllView{
    position: absolute;
    bottom: 30px;
    right: 40px;
    border: none;
    background: #ac8e3b;
    z-index: 5;
    transition-duration: 0.5s;
    cursor: pointer;
    height: 60px;
    width: 60px;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
}

.Fit4Life-Category-AllView:hover{
    background: #dfb84c;
}

@media(max-width: 700px){
    .Category-Tile-Wrapper{
        height: 250px;
    }
}

@media(max-width: 490px){
    .Category-Tile-Wrapper{
        height: 200px;
    }

    .Fit4Life-Category-AllView{
        right: 25px;
    }
}

@media(max-width: 460px){
    .Fit4Life-Category-SearchbarWrapper{
        align-items: flex-start;
    }

    .Fit4Life-Category-SearchElements-Wrapper{
        height: 100%;
        background: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }
}

@media(max-width: 375px){
    .Category-Tile-Wrapper{
        height: 150px;
    }

    .Fit4Life-Category-AllView{
        right: 20px;
    }
}